<template name="footer">
  <footer>
    {{#if contact}}
      <section id="contact-us">
        <i class="fa fa-undo fa-2x" aria-hidden="true"></i>
        <div>
          <h3>Contact us! <small>Send us a message.</small></h3>
          <form id="contactForm">
            <div class='form-group'>
              <label for='inputEmail'>your email</label>
              <input type="text" class='form-control' name='email' placeholder='your email'>
            </div>
            <div class='form-group'>
              <label for='inputMessage'>message</label>
              <textarea class='form-control' name='message' placeholder='message'></textarea>
            </div>
            <button class='btn btn-default contactFormSubmit'>send</button>
            {{#if success}}
              <div class='submit-success'>Success!</div>
            {{/if}}
          </form>
        </div>
      </section>
    {{/if}}

    {{#if about}}
      <section id="about-us">
        <i class="fa fa-undo fa-2x" aria-hidden="true"></i>
        <div>
          <h3>About us.</h3>
          <p>
            <i>Juju Studio</i> involves mapping the found soundscape of a user’s environment
            using an iPhone application. The sounds are not simply ambient noise recordings
             - rather they are captured using a piezo microphone (the <i>JujuScope</i>) to
             record the vibrations of any particular object and geotagged at the time of
             recording.
          </p>
          <p>
            The JujuScope is a device that discovers hidden worlds of sounds in everyday
            environments. It provides access to new ways of exploring, knowing and mapping
            a place. Unlike most other sound devices that tune out the surrounding
            environment, the JujuScope provides a unique opportunity to tune into
            environments; explorations with the JujuScope activate what resonates and
            blurs boundaries between natural and unnatural occurrences.
          </p>
          <p>
            The end product is a “crowd-sourced” soundscape (the <i>JujuScape</i>) which engages
             the community in the capturing and sharing unique found sounds with the potential
              of fueling new artworks.
          </p>
        </div>
      </section>
    {{/if}}

    {{#if signup}}
      <section id="sign-up">
        <i class="fa fa-undo fa-2x" aria-hidden="true"></i>
        <div>
          <h3>Signup and use the app! <small>we'll send you an email</small>
            {{#if success}}
              <div class='submit-success'>Success!</div>
            {{/if}}
          </h3>
          <form id="signupForm">
            <div class='form-group'>
              <label for='inputName'>your name</label>
              <div class='name-inputs'>
                <input type="text" class='form-control' name='firstname' placeholder='first name'>
                <input type="text" class='form-control' name='lastname' placeholder='last name'>
              </div>
            </div>
            <div class='form-group'>
              <label for='inputName'>username</label>
              <input type="text" class='form-control' name='username' placeholder='username'>
            </div>
            <div class='form-group'>
              <label for='inputName'>email address</label>
              <input type="email" class='form-control' name='email' placeholder='email address'>
            </div>
            <div class='form-group'>
              <label for='inputName'>password</label>
              <input type="password" class='form-control' name='password' placeholder='password'>
            </div>
            <button class='btn btn-default signupFormSubmit'>send</button>
          </form>
        </div>
      </section>
    {{/if}}

    {{#if menu}}
      <section id='menu'>
        <div class='js-about'>about</div>
        <div class='js-contact'>contact</div>
        <div class='js-signup'>signup</div>
      </section>
    {{/if}}
  </footer>
</template>
